*{
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: white;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 50px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}
nav a:hover{
    background-color: #f0f0f0;
}

nav li:first-child{
    margin-right: auto;
}

nav ul li:first-child a {
    user-select: none;
}

nav ul li:first-child a {
    background-color: initial;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: white;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}

.menu-button{
    display: none;
}

@media(max-width: 800px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}

@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}

.login-container {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -40%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    max-width: 90%;
    max-height: 80vh;
    overflow: auto;
}

.login-field {
    width: 350px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.login-field label {
    display: block;
    margin-bottom: 10px;
}

.login-field input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

.account-creation-container {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -36%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.account-creation-field {
    width: 350px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.account-creation-field input {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
}

.account-creation-field label {
    display: block;
    margin-bottom: 10px;
}

.create-account-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

.error-message-field {
    color: red;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.1);
}

.error-message-container {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -240%);
    display: none;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    border-radius: 5px;
    width: auto;
    max-width: 90%;
    max-height: 14vh;
    overflow: auto;
}

.error-message-field p {
    display: block;
    margin: 45px;
}

.error-message-field-account-creation p {
    display: block;
    margin: 45px;
}

.error-message-field-account-creation {
    color: red;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.1);
}

.error-message-container-account-creation {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -510%);
    display: none;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    border-radius: 5px;
    width: auto;
    max-width: 90%;
    max-height: 7vh;
    overflow: auto;
}


.photo-booth {
    width: 400px;
    background: #ccc;
    border: 10px solid #ddd;
}

.photo-booth {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -70%);
}

.capture-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, 200%);
    width: 100%;
}

.capture-photo button {
    width: 10%;
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.sleep-button-group {
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(37%, -50%);
    width: 100%;
}

.mood-button-group {
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-92%, -50%);
    width: 50%;
}

.sleep-button-group button {
    background-color: blue;
    border: 2 solid black;
    color: white;
    padding: 12px;
    border-radius: 5px;
    border-color: blue;
    width: 10%;
    cursor: pointer;
    display: block;
    margin-top: 8px;
}

.sleep-button-group button:hover {
    background-color: white;
    color: blue;
}


.mood-button-group button {
    background-color: blue;
    border: 2 solid black;
    color: white;
    padding: 12px;
    border-radius: 5px;
    border-color: blue;
    width: 10%;
    cursor: pointer;
    display: block;
    margin-top: 8px;
    font-size: 30px;
}

.mood-button-group button:hover {
    background-color: white;
    color: blue;
}

.caption-button {
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-45%, 300%);
}

.name-button {
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-45%, -700%);
}

.name-button-search {
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-45%, 500%);
}

.caption-button button, .name-button button, .name-button-search button {
    background-color: blue;
    border: 2 solid black;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border-color: blue;
    padding: 10px;
}

.caption-button button:hover, .name-button button:hover, .name-button-search button:hover {
    background-color: white;
    color: blue;
}

.caption-button input, .name-button-search input {
    padding: 10px;
}

.date_search input, .mood_search input, .sleep_search input, .caption_search input, .name_text_field input, .email_text_field input {
    padding: 10px;
    width: 20%;
    margin-right: 15px;
}

.submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, 500%);
    width: 100%;
}

.date_search {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, 500%);
    width: 100%;
}

.mood_search {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, 300%);
    width: 100%;
}

.sleep_search {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, 100%);
    width: 100%;
}

.caption_search {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, 700%);
    width: 90%;
}

.name_text_field {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, 900%);
    width: 90%;
}

.email_text_field {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, 700%);
    width: 90%;

}

.submit-button button {
    background-color: blue;
    border: 2 solid black;
    color: white;
    padding: 12px;
    border-radius: 5px;
    border-color: blue;
    width: 90%;
    cursor: pointer;
    display: block;
    margin-top: 8px;
}

.submit-button button:hover {
    background-color: white;
    color: blue;
}

.date_search button, .mood_search button, .sleep_search button, .caption_search button, .name_text_field button, .email_text_field button {
    background-color: blue;
    border: 2 solid black;
    color: white;
    padding: 12px;
    border-radius: 5px;
    border-color: blue;
    width: 15%;
    cursor: pointer;
    display: block;
    margin-top: 8px;
}

.date_search button:hover, .mood_search button:hover, .sleep_search button:hover, .caption_search button:hover, , .email_text_field button:hover, , .name_text_field button:hover {
    background-color: white;
    color: blue;
}

.caption-button input, .name-button input {
    padding: 10px;
}

@media(max-height: 550px) {
    .account-creation-field input {
        padding: 4px;
        margin-bottom: 10px;
    }
    .account-creation-field label {
        display: block;
        margin-bottom: 5px;
    }
    .error-message-container-account-creation {
        transform: translate(-50%, -480%);
    }
    .create-account-button {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .error-message-field p {
        display: block;
        margin: 25px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .error-message-container {
        position: absolute;
        transform: translate(-50%, -440%);
    }
    .photo-booth {
        position: absolute;
        transform: translate(-50%, -60%);
    }
    .capture-photo {
        position: absolute;
        transform: translate(-50%, 250%);
    }
}

@media(max-height: 475px) {
    .account-creation-field input {
        width: 100%;
        padding: 2px;
        margin-bottom: 6px;
    }
    .account-creation-field label {
        display: block;
        margin-bottom: 3px;
    }
    .error-message-container-account-creation {
        transform: translate(-50%, -480%);
    }
    .create-account-button {
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .error-message-container {
        position: absolute;
        transform: translate(-50%, -452%);
    }
    .error-message-field p {
        display: block;
        margin: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .photo-booth {
        position: absolute;
        transform: translate(-50%, -52%);
    }
}

@media(max-height: 390px) {
    .account-creation-field input {
        width: 100%;
        padding: 1.25px;
        margin-bottom: 4px;
    }
    .account-creation-field label {
        display: block;
        margin-bottom: 2px;
    }
    .error-message-container-account-creation {
        transform: translate(-50%, -468%);
    }
    .create-account-button {
        margin-top: 6px;
        margin-bottom: 6px;
    }
    .login-container {
        transform: translate(-50%, -30%);
    }
    .error-message-container {
        transform: translate(-50%, -400%);
    }
}

@media only screen and (max-width: 400px) {
    .photo-booth {
        display: hide;
    }
}